$font-primary: 'Varela Round', sans-serif;
$font-secondary: 'Anton', sans-serif;
$background-color: pink;
$dropdown-bg-color: rgb(255, 254, 254);
$shadow-color: rgba(68, 68, 68, 0.4);
$modal-header-footer-bg-color: #f8f9fa;
$modal-border-color: #dee2e6;
$btn-warning-bg-color: #ffc107;
$breakpoint-md: 768px;
