/* font-family: 'Open Sans', sans-serif;
font-family: 'Varela Round', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Varela&display=swap");
body {
  background-image: url("https://raw.githubusercontent.com/andrenormanlang/candy-shop-html-css-typescript/main/src/img/bg-candy-light.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  background-color: pink;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Anton", sans-serif;
}

.small-font h5 {
  font-size: 0.8rem;
}

.padding-top {
  padding-top: 12vh;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.container-nav {
  max-width: 1200px;
}

nav {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 7.5rem;
}

@media (max-width: 568px) {
  nav {
    height: 7.5rem;
  }
}
.stock-phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-family: Anton;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (max-width: 568px) {
  nav {
    height: 7.5rem;
  }
  .stock-phrase {
    font-size: 0.6rem;
  }
}
/* Additional styles for the menu toggle */
.btn-menu-toggle {
  margin-top: 0.2rem;
  position: relative;
  background-color: #17a2b8; /* Bootstrap info color or your custom color */
  border: none;
  padding: 0.3rem 0.3rem;
  -webkit-transition: background-color 0.3s, -webkit-transform 0.1s;
  transition: background-color 0.3s, -webkit-transform 0.1s;
  transition: background-color 0.3s, transform 0.1s;
  transition: background-color 0.3s, transform 0.1s, -webkit-transform 0.1s;
}
.btn-menu-toggle:hover, .btn-menu-toggle:focus {
  background-color: #138496; /* A darker shade for interaction */
}
.btn-menu-toggle:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.badge-notification {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: #dc3545; /* Bootstrap danger color for contrast */
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.7rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.badge-notification::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: badge-bump 0.5s infinite alternate;
          animation: badge-bump 0.5s infinite alternate;
}

@-webkit-keyframes badge-bump {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes badge-bump {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.counter-span {
  position: relative;
  z-index: 2; /* Ensure the number is above the pseudo-element */
}

/* Ensure button scales well for accessibility */
.btn-menu-toggle, .badge-notification, .counter-span {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(var(--scale-factor, 1));
          transform: scale(var(--scale-factor, 1));
}

:root:hover {
  --scale-factor: 1.15; /* Scale up on hover */
}

/* CART */
#dropdown-menu {
  position: fixed; /* Keep the dropdown fixed */
  top: 5rem; /* Adjusted to the height of your navbar */
  right: 1rem; /* Align with the right side of the screen or toggle button */
  width: 360px; /* Width of the dropdown */
  max-height: calc(100vh - 5rem); /* Maximum height to ensure it doesn't go off screen */
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 101; /* Above the navbar */
  display: none; /* Initially hidden */
  background-color: rgb(255, 254, 254); /* Theming variable for background */
  -webkit-box-shadow: rgba(68, 68, 68, 0.4) 0px 4px 8px;
          box-shadow: rgba(68, 68, 68, 0.4) 0px 4px 8px; /* Theming variable for shadow */
  padding: 1rem; /* Inner padding */
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  will-change: opacity, transform; /* Optimize for transitions */
}

#dropdown-menu.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.empty-cart-message {
  color: #ff4500; /* Or any color that fits your design */
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

/* Cart Item Styling */
.cart-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0; /* Spacing between cart items */
}

.cart-item-image {
  width: 50px; /* Small thumbnail size */
  height: 50px;
  border-radius: 4px; /* Slightly rounded corners for images */
  -o-object-fit: cover;
     object-fit: cover; /* Ensure the image covers the thumbnail area */
}

.cart-item-details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 10px; /* Space between image and details */
}

.card-title {
  font-size: 0.8rem; /* Decrease font size to your liking */
  font-weight: bold; /* Bold font weight for emphasis */
  margin-bottom: 16px;
  /* Other styles... */
}

.increase-btn {
  background-color: #f0f0f0; /* Light background for buttons */
  border: 1px solid #d1d1d1; /* Border to distinguish the buttons */
  border-radius: 4px; /* Rounded buttons */
  padding: 2px 4px; /* Reduced padding to make button smaller */
  margin: 0 3px; /* Adjusted margin if necessary */
  cursor: pointer;
  font-size: 0.85rem; /* Smaller font size for text inside the button */
}

.reduce-btn {
  background-color: #f0f0f0; /* Light background for buttons */
  border: 1px solid #d1d1d1; /* Border to distinguish the buttons */
  border-radius: 4px; /* Rounded buttons */
  padding: 2px 4px; /* Reduced padding to make button smaller */
  margin: 0 3px; /* Adjusted margin if necessary */
  cursor: pointer;
  font-size: 0.85rem; /* Smaller font size for text inside the button */
}

.cart-item-name {
  font-size: 0.9rem; /* Smaller font size for cart item names */
  font-weight: bold;
}

.cart-item-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantity-btn {
  background-color: #f0f0f0; /* Light background for buttons */
  border: 1px solid #d1d1d1; /* Border to distinguish the buttons */
  border-radius: 4px; /* Rounded buttons */
  padding: 5px 8px; /* Smaller buttons */
  margin: 0 5px; /* Space between buttons */
  cursor: pointer;
}

.total-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-size: 0.8rem;
}

.total-text {
  font-size: 1rem;
  font-weight: bold;
}

.total-price {
  font-size: 1.2rem;
  color: #28a745; /* Adjust for contrast */
  font-weight: bold;
}

.btn-checkout {
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #ffc107; /* Match this color to your brand */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn-checkout:hover {
  background-color: #e0a800; /* Darken on hover */
}

/* PRODUCT CARD */
.product-card-title {
  font-family: "Anton", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  padding-top: 10px;
}

.card {
  -webkit-perspective: 1000px;
          perspective: 1000px; /* Create perspective */
  -webkit-transition: -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out; /* Smooth transition for hover effect */
  cursor: pointer; /* Change cursor to indicate clickable */
}

.card-img {
  border: 2px solid #000;
  width: 80%;
  display: block;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .image-description img {
    max-width: 80%; /* Adjust the max-width for smaller screens */
    height: auto; /* This maintains the aspect ratio of the image */
  }
}
.info-icon {
  position: absolute;
  font-weight: 900;
  top: 65px;
  right: 45px;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #ffc107;
  cursor: pointer;
}

.price-tag {
  font-weight: 900;
  color: white;
  right: 250px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: red;
  cursor: pointer;
}

.stock-tag {
  font-weight: 900;
  top: 320px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  cursor: pointer;
}

.sold-out-message {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.card {
  position: relative;
}

.card #product-status {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
}

/* PRODUCT DESCRIPTION */
.modal-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Default styles for larger screens */
.image-description img {
  max-width: 100%; /* This ensures the image is responsive and won't overflow its container */
  height: auto; /* This maintains the aspect ratio of the image */
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
  .image-description img {
    max-width: 80%; /* Adjust the max-width for smaller screens */
    height: auto; /* This maintains the aspect ratio of the image */
  }
}
/* Even smaller screens */
@media screen and (max-width: 480px) {
  .image-description {
    max-width: 80%; /* Further adjust the max-width for very small screens */
    height: auto; /* This maintains the aspect ratio of the image */
  }
}
.modal-title {
  font-family: "Anton", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.card-product-description {
  font-family: "Varela Round", sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  text-align: left;
  word-spacing: -0.09rem;
}

/* CHECKOUT SUMMARY */
.checkout-item {
  border: 1px solid #eaeaea;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkout-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaeaea;
  padding: 0.5rem 1rem;
}

.checkout-title {
  margin: 0;
  color: #333;
  font-size: 1.25rem;
}

.checkout-body {
  padding: 1rem;
}

.checkout-image-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkout-image {
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem;
  border-radius: 4px;
}

.checkout-description-container {
  padding: 0.5rem 0;
}

.checkout-description {
  color: #666;
  font-size: 1rem;
}

.btn-cart-checkout {
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.checkout-price-container {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.checkout-price {
  color: #333;
  font-weight: 500;
  font-size: 1.25rem;
}

.modal-backdrop.show {
  opacity: 0.5; /* You can adjust the opacity level to control the dimming effect */
}

@media (min-width: 500px) {
  /* This will apply only to screens wider than 500px */
  .cart-item-card .card-body {
    padding: 1rem; /* Add more padding */
  }
  .cart-item-card .product-name {
    font-size: 1rem; /* Increase the font size slightly for readability */
    text-align: left; /* Align text to the left */
  }
  .cart-item-card .quantity-controls {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; /* Align the quantity controls to the start on larger screens */
    margin-right: 1rem; /* Add some space between quantity controls and the price */
  }
  .cart-item-card .price {
    font-size: 1.2rem; /* Make the price stand out more */
    font-weight: bold; /* Optional: Make the price font bold */
  }
  .cart-item-card .img-fluid {
    width: 120px; /* Make the image a bit larger */
  }
}
#total-cart-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 6px;
}

.total-price-checkout {
  font-size: 1.5rem;
  font-weight: 700;
  color: green;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-tag {
  font-weight: 900;
  color: white;
  background-color: red;
  margin-right: 2rem; /* Margin to the right to create space between price and stock */
}/*# sourceMappingURL=styles.css.map */