/* font-family: 'Open Sans', sans-serif;
font-family: 'Varela Round', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Varela&display=swap');


// _variables.scss
$font-primary: 'Varela Round', sans-serif;
$font-secondary: 'Anton', sans-serif;
$background-color: pink;
$dropdown-bg-color: rgb(255, 254, 254);
$shadow-color: rgba(68, 68, 68, 0.4);
$modal-header-footer-bg-color: #f8f9fa;
$modal-border-color: #dee2e6;
$btn-warning-bg-color: #ffc107;
$breakpoint-md: 768px;

// _mixins.scss
@mixin transition($property, $duration, $timing-function) {
  transition: $property $duration $timing-function;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
  box-shadow: $x $y $blur $spread $color;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}



// _base.scss
body {
  background-image: none; /* Hide the background image initially */
  transition: background 0.3s ease-in-out; /* Add smooth transition for the image */

  background-color: $background-color;
  font-size: 18px;
  font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
}

/*font-size for stock heading */
.small-font h5 {
  font-size: 0.8rem;
}

/*Pushing all the cards down so the nav wont clip em */
.padding-top {
  padding-top: 12vh;
}

/*Does affect the flow of the page */
.hide {
  display: none;
}

/*Does not affect the flow of the page*/
.hidden {
  visibility: hidden;
}

/*NAVBAR */
.container-nav {
  max-width: 1200px;
}

nav{
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 7.5rem;
}


.stock-phrase{
  display: flex;
  margin: auto;
  font-family: Anton;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (max-width: 568px) {
  nav {
    height: 7.5rem; // adjust this value as needed
  }
  .stock-phrase {
    font-size: 0.6rem; // adjust this value as needed
  }
}

/* Additional styles for the menu toggle */
.btn-menu-toggle {
  margin-top: 0.2rem;
  position: relative;
  background-color: #17a2b8; /* Bootstrap info color or your custom color */
  border: none;
  padding: 0.3rem 0.3rem;
  transition: background-color 0.3s, transform 0.1s; // Added transform to the transition

  &:hover, &:focus {
    background-color: #138496; /* A darker shade for interaction */
  }

  &:active { // When the button is actively being clicked
    transform: scale(0.95); // Scale down the button
  }
}
.badge-notification {
  position: absolute;
  top: -0.5rem;
  left: 1rem;
  transform: translate(50%, -50%);
  background-color: #dc3545; /* Bootstrap danger color for contrast */
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  transition: transform 0.3s;
}

.badge-notification::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: badge-bump 0.5s infinite alternate;
}

@keyframes badge-bump {
  0% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.counter-span {
  position: relative;
  z-index: 2; /* Ensure the number is above the pseudo-element */
}

/* Ensure button scales well for accessibility */
.btn-menu-toggle, .badge-notification, .counter-span {
  transform-origin: center;
  transform: scale(var(--scale-factor, 1));
}

:root:hover {
  --scale-factor: 1.15; /* Scale up on hover */
}


/* CART */
#dropdown-menu {
  position: fixed; /* Keep the dropdown fixed */
  top: 5rem; /* Adjusted to the height of your navbar */
  right: 1rem; /* Align with the right side of the screen or toggle button */
  width: 360px; /* Width of the dropdown */
  max-height: calc(100vh - 5rem); /* Maximum height to ensure it doesn't go off screen */
  overflow-y: auto; /* Enable vertical scrolling */
  z-index: 101; /* Above the navbar */
  display: none; /* Initially hidden */
  background-color: $dropdown-bg-color; /* Theming variable for background */
  box-shadow: $shadow-color 0px 4px 8px; /* Theming variable for shadow */
  padding: 1rem; /* Inner padding */
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  // transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
  will-change: opacity, transform; /* Optimize for transitions */

}

#dropdown-menu.show {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.empty-cart-message {
  color: #ff4500; /* Or any color that fits your design */
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

/* Cart Item Styling */
.cart-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0; /* Spacing between cart items */
}


.cart-item-image {
  width: 50px; /* Small thumbnail size */
  height: 50px;
  border-radius: 4px; /* Slightly rounded corners for images */
  object-fit: cover; /* Ensure the image covers the thumbnail area */
}

.cart-item-details {
  flex-grow: 1;
  padding-left: 10px; /* Space between image and details */
}

.card-title {
  font-size: 0.8rem; /* Decrease font size to your liking */
  font-weight: bold; /* Bold font weight for emphasis */
  margin-bottom: 16px;
  /* Other styles... */
}

.increase-btn {
  background-color: #f0f0f0; /* Light background for buttons */
  border: 1px solid #d1d1d1; /* Border to distinguish the buttons */
  border-radius: 4px; /* Rounded buttons */
  padding: 2px 4px; /* Reduced padding to make button smaller */
  margin: 0 3px; /* Adjusted margin if necessary */
  cursor: pointer;
  font-size: 0.85rem; /* Smaller font size for text inside the button */
}
.reduce-btn {
  background-color: #f0f0f0; /* Light background for buttons */
  border: 1px solid #d1d1d1; /* Border to distinguish the buttons */
  border-radius: 4px; /* Rounded buttons */
  padding: 2px 4px; /* Reduced padding to make button smaller */
  margin: 0 3px; /* Adjusted margin if necessary */
  cursor: pointer;
  font-size: 0.85rem; /* Smaller font size for text inside the button */
}

.cart-item-name {
  font-size: 0.9rem; /* Smaller font size for cart item names */
  font-weight: bold;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.quantity-btn {
  background-color: #f0f0f0; /* Light background for buttons */
  border: 1px solid #d1d1d1; /* Border to distinguish the buttons */
  border-radius: 4px; /* Rounded buttons */
  padding: 5px 8px; /* Smaller buttons */
  margin: 0 5px; /* Space between buttons */
  cursor: pointer;
}



.total-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  font-size: 0.8rem;
}

.total-text {
  font-size: 1rem;
  font-weight: bold;
}

.total-price {
  font-size: 1.2rem;
  color: #28a745; /* Adjust for contrast */
  font-weight: bold;
}

.btn-checkout {
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  background-color: #ffc107; /* Match this color to your brand */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-checkout:hover {
  background-color: #e0a800; /* Darken on hover */
}

/* PRODUCT CARD */
.product-card-title{
  font-family: 'Anton', sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  padding-top: 10px;
}

.card {
  perspective: 1000px; /* Create perspective */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition for hover effect */
  cursor: pointer; /* Change cursor to indicate clickable */
}

.card-img {
  border: 2px solid #000;
  width: 80%;
  display: block;
  margin: auto;
   // adjust this value as needed
}


@media screen and (max-width: 768px) {
  .image-description img {
    max-width: 80%; /* Adjust the max-width for smaller screens */
    height: auto; /* This maintains the aspect ratio of the image */
  }


}

.info-icon {
  position: absolute;
  font-weight: 900;
  top: 65px;
  right: 45px;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #ffc107;
  cursor: pointer;
}
.price-tag {

  font-weight: 900;
  color: white;
  right: 250px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: red;
  cursor: pointer;
}
.stock-tag {
  font-weight: 900;
  top: 320px;
  height: 30px;
  border-radius: 15px;
  margin-right: 10px;
  cursor: pointer;
}


.sold-out-message {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.5); // semi-transparent red
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
}

.card {
  position: relative;
}



.card #product-status {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 10px;
}

// .products-images{
//   max-width: 80%;
//   justify-content: center;
//   padding-left: 3rem;
// }

/* PRODUCT DESCRIPTION */
.modal-header{
  justify-content: center;
}

/* Default styles for larger screens */
.image-description img {
  max-width: 100%; /* This ensures the image is responsive and won't overflow its container */
  height: auto; /* This maintains the aspect ratio of the image */
}

/* Styles for smaller screens */
@media screen and (max-width: 768px) {
  .image-description img {
    max-width: 80%; /* Adjust the max-width for smaller screens */
    height: auto; /* This maintains the aspect ratio of the image */
  }


}

/* Even smaller screens */
@media screen and (max-width: 480px) {
  .image-description  {
    max-width: 80%; /* Further adjust the max-width for very small screens */
    height: auto; /* This maintains the aspect ratio of the image */
  }



}

.modal-title {
  font-family: 'Anton', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}

.card-product-description {
  font-family: 'Varela Round', sans-serif;
  font-size: 0.8em;
  font-weight: 300;
 text-align: left;
 word-spacing: -0.09rem;
}


/* CHECKOUT SUMMARY */
.checkout-item {
  border: 1px solid #eaeaea;
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.checkout-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #eaeaea;
  padding: 0.5rem 1rem;
}

.checkout-title {
  margin: 0;
  color: #333;
  font-size: 1.25rem;
}

.checkout-body {
  padding: 1rem;
}

.checkout-image-container {
  justify-content: center;
}

.checkout-image {
  max-height: 200px;
  object-fit: cover;
  padding: 1rem;
  border-radius: 4px;
}

.checkout-description-container {
  padding: 0.5rem 0;
}

.checkout-description {
  color: #666;
  font-size: 1rem;
}

.btn-cart-checkout {
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-price-container {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.checkout-price {
  color: #333;
  font-weight: 500;
  font-size: 1.25rem;
}

.modal-backdrop.show {
  opacity: 0.5; /* You can adjust the opacity level to control the dimming effect */
}


// Add media query for screens with a minimum width of 500px
@media (min-width: 500px) {
  /* This will apply only to screens wider than 500px */
  .cart-item-card .card-body {
    padding: 1rem; /* Add more padding */
  }

  .cart-item-card .product-name {
    font-size: 1rem; /* Increase the font size slightly for readability */
    text-align: left; /* Align text to the left */
  }

  .cart-item-card .quantity-controls {
    justify-content: start; /* Align the quantity controls to the start on larger screens */
    margin-right: 1rem; /* Add some space between quantity controls and the price */
  }

  .cart-item-card .price {
    font-size: 1.2rem; /* Make the price stand out more */
    font-weight: bold; /* Optional: Make the price font bold */
  }

  .cart-item-card .img-fluid {
    width: 120px; /* Make the image a bit larger */
  }

}

#total-cart-checkout{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 6px;



}
  .total-price-checkout {
    font-size: 1.5rem;
    font-weight: 700;
    color: green;
    justify-content:center;
    align-items: center;
  }



  .price-tag {
    font-weight: 900;
    color: white;
    background-color: red;
    margin-right: 2rem; /* Margin to the right to create space between price and stock */
  }


